# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compilados
*.class

# IDE
.idea/
*.iml

# Logs
*.log
*.log.*

# Archivos del sistema
.DS_Store

# Entorno
.env

# Archivos empaquetados
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.*
*.tgz
*.exe
*.msi
*.deb

# Maven wrapper
.mvn/wrapper/maven-wrapper.properties